<nav> 
  <div class="nav__background">
    <div class="container">
      <div class="nav__box d-flex justify-content-between flex-wrap">
        <div class="nav__box__navigation">
          <a href="/search"><button mat-flat-button class="nav__box__navigation--btn">loty</button></a>
          <a href="/reservations"><button mat-flat-button class="nav__box__navigation--btn">rezerwacje</button></a>
        </div>
        <div class="nav__box__user">
          <a href=""><button mat-flat-button class="nav__box__user--btn"><img src="../../assets/icons/cart.svg" alt=""></button></a>
          <a href=""><button mat-flat-button class="nav__box__user--btn">Jan Kowalski <img src="../../assets/icons/user.svg" alt=""></button></a>
        </div>

      </div>
    </div>
  </div>
</nav>
