.search-flights{
    padding: 20px 16px 20px 16px;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    &--btn{
        background-color: #678DAE;
        text-transform: uppercase;
        letter-spacing: 1px;
        width: 159px;
        color: #fff;
        transition: all 0.2s;

        &:hover {
          background-color: #625875;
        }
    }

}

.search-results{
    padding: 20px 16px 20px 16px;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    // height: 400px;
    // max-width: 100%;
    // overflow: auto;

    display: flex;
    flex-direction: column;

    &__table{
        
    }
}

.mat-table{
   
    overflow: auto;
}
.mat-header-cell, .mat-cell {
    min-width: 150px;
}

.mat-row, .mat-header-row {
    min-width: fit-content;
    width: 100%;
  }

