/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.background {
  background-image: url('./assets/img/plane1a.png');
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-size: 100% 75%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mar-t-30 {
  margin-top: 30px;
}

.mar-b-30 {
  margin-bottom: 30px;
}
